.header {
  .header__nav {
    --element-height: 55px;
    display: flex;
    justify-content: space-around;

    height: 55px;
    padding-top: 10px;
  }
  .header__background {
    position: relative;
    z-index: -1;
  }
  .header__logo {
    height: var(--element-height);
  }
  .header__nav-list {
    display: flex;
    justify-content: space-between;
    list-style: none;
  }
  .header__nav-item {
    /* background-color: black; */
    width: 140px;
    text-align: center;
  }
  .header__nav-link {
    display: inline-block;
    text-decoration: none;
    width: 100%;
    color: rgb(253, 253, 253);
    font-size: 1.6rem;
    font-weight: 500;
    line-height: var(--element-height);
    transition: all 0.2s linear;
  }
  .header__nav-link:hover {
    color: var(--gradient-color-to);
    text-decoration: none;
  }
  .header__authen--login,
  .header__authen--signup {
    text-decoration: none;
    color: rgb(253, 253, 253);
    font-size: 1.6rem;
    font-weight: 500;
    line-height: var(--element-height);
    transition: all 0.2s linear;
  }
  .header__authen--login:hover,
  .header__authen--signup:hover {
    text-decoration: none;
    color: var(--gradient-color-to);
  }
  .header__authen--signup {
    margin-left: 20px;
  }
}
