// .navbar-light {
//   .navbar-toggler {
//     color: rgba(0, 0, 0, 0.5);
//     border-color: rgba(0, 0, 0, 0.1);
//     background-color: antiquewhite;
//     display: block;
//     width: 100%;
//     z-index: 99;
//   }
// }

.header--home {
  background: transparent;
  .colorChange {
    display: flex;
    justify-content: space-between;
    background-color: #000;
    transition: all 2s;
    animation-duration: 3s;
    transform: translateY(-11px);
    position: fixed;
    width: 100%;
    z-index: 20;
    margin-top: 5px;
    .navbar-brand img {
      width: 100px;
    }
    .navbar-nav {
      margin-top: -22px;
      margin-left: -77px;
    }
    .navbar-collapse {
      margin-top: 7px;
    }
    .header__authenWrapper {
      // transform: translateX(66px);
    }
  }
}

/*-------------------------reponsive-----------------------*/
// .navbar {
//   @include mobile {
//     flex-direction: row-reverse;
//   }
//   @include tablet {
//     flex-direction: row-reverse;
//   }
//   .navbar-brand {
//     @include mobile {
//     }
//     @include tablet {
//       margin-right: 620px !important;
//       margin-left: 40px;
//     }
//     @include desktop {
//       margin-right: 112px !important;
//       margin-left: 54px;
//     }
//   }
// }
// .navbar-light {
//   .navbar-toggler {
//     @include mobile {
//       width: 10%;
//       transform: translateY(-23px);
//     }
//     @include tablet {
//       width: 5%;
//       transform: translateY(-23px);
//     }
//   }
// }

// .header__nav-list {
//   @include desktop {
//     flex-direction: row;
//     background-color: transparent;
//     width: 100%;
//     height: auto;
//     z-index: 9999;
//     position: fixed;
//     align-items: center;
//     transform: translate(-62%, -20%);
//   }
//   @include tablet-plus {
//     flex-direction: row;
//     background-color: transparent;
//     width: 72%;
//     height: auto;
//     z-index: 9999;
//     position: fixed;
//     align-items: center;
//     transform: translate(-62%, -20%);
//   }
 
//   @include mobile {
//     flex-direction: column;
//     background-color: black;
//     width: 100%;
//     height: auto;
//     z-index: 9999;
//     position: fixed;
//     align-items: center;
//     align-items: center;
//     transform: translate(16%, 16%);
//   }

  
  
//   .header__authenWrapper {
//     @include tablet {
//       transform: translateX(0px);
//     }
//     @include desktop {
//       //transform: translateX(115px);
//     }
//   }
// }

// .navbar-collapse {
//   @include mobile {
//     margin-left: -11px;
//   }
//   @include tablet {
//     margin-left: -11px;
//   }
//   @include desktop {
//     transform: translate(-81px, -17px) !important;
//   }
// }

// .header {
//   @include desktop {
//     .colorChange {
//       .navbar-collapse {
//         .header__nav-list {
//           margin-top: 0px;
//         }
//       }
//     }
//   }
// }
