// .navbar-light {
//   .navbar-toggler {
//     color: rgba(0, 0, 0, 0.5);
//     border-color: rgba(0, 0, 0, 0.1);
//     background-color: antiquewhite;
//     display: block;
//     width: 100%;
//     z-index: 99;
//   }
// }

.header--home {
  background: transparent;
  .colorChange {
    display: flex;
    justify-content: space-between;
    background-color: #000;
    transition: all 2s;
    animation-duration: 3s;
    transform: translateY(-11px);
    position: fixed;
    width: 100%;
    z-index: 20;
    margin-top: 5px;
    .navbar-brand img {
      width: 100px;
    }
    .navbar-nav {
      margin-top: -22px;
      margin-left: -77px;
    }
    .navbar-collapse {
      margin-top: 7px;
    }
    .header__authenWrapper {
      transform: translateX(66px);
    }
  }
}

/*-------------------------reponsive-----------------------*/
