.MuiDataGrid-root .MuiDataGrid-cell--textLeft {
    font-size: 12px !important;
}
.MuiDataGrid-root .MuiDataGrid-columnHeaderCheckbox {
    min-width: 50px !important;
    max-width: 50px !important;
    width: 50px !important;
}
.MuiDataGrid-root .MuiDataGrid-cellCheckbox {
    min-width: 50px !important;
    max-width: 50px !important;
    width: 50px !important;
}
.MuiTooltip-popper {
    div {
        font-size: 16px !important;
    }
}
.MuiInput-root {
    width: 100%;
}
.MuiTextField-root {
    width: 100%;
}
.MTableToolbar-searchField-18 {
    width: auto;
}
