.MuiDataGrid-root .MuiDataGrid-cell--textLeft {
    font-size: 12px !important;
}
.MuiDataGrid-root .MuiDataGrid-columnHeaderCheckbox {
    min-width: 50px !important;
    max-width: 50px !important;
    width: 50px !important;
}
.MuiDataGrid-root .MuiDataGrid-cellCheckbox {
    min-width: 50px !important;
    max-width: 50px !important;
    width: 50px !important;
}
.MuiTooltip-popper {
    div {
        font-size: 16px !important;
    }
}
.MuiInput-root {
    width: 100%;
}
.MuiTextField-root {
    width: 100%;
}
.MTableToolbar-searchField-18 {
    width: auto;
}
.MuiSelect-select {
    font-size: 14px !important;
}
.MuiOutlinedInput-input {
    font-size: 14px !important;
    padding: 15.5px 14px !important;
}
.MUI-customBorder {
    padding: 7.4px 14px;
    padding-bottom: 7.8px;
    border: 1px solid rgba(0, 0, 0, 0.23) !important;
    border-radius: 4px !important;
}
.MuiTypography-body2 {
    font-size: 13px !important;
    word-wrap: break-word !important;
}
.MuiInputBase-input {
    font-size: 14px !important;
}
